@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

video {
  position: fixed;
  min-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

body header nav ul a {
  margin: 0rem 1rem 0rem 1rem;
  font-size: 25px;
  color: white;
  font-family: "Orbitron", sans-serif;
} /*
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
font-family: 'Rubik Vinyl', cursive;

para juegos
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
font-family: 'Press Start 2P', cursive;

tipo futurista
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
font-family: 'Gruppo', cursive;

Type metal Sulg
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
font-family: 'Bungee Spice', cursive;

CONSOLE
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
font-family: 'Bungee Hairline', cursive;

Baras code
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
font-family: 'Libre Barcode 39 Text', cursive;

game shadows
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
font-family: 'Bungee Shade', cursive;

retra games
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
font-family: 'Silkscreen', cursive;

sombres redonidtas
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
font-family: 'Monofett', cursive;

Futurista 2
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
font-family: 'Orbitron', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
font-family: 'Chakra Petch', sans-serif;

*/
#hobies h1, #about_me h1, #proycts h1, body main .inicio div .titulo1 {
  border: 15px solid transparent;
  background-color: transparent;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 0, 132), 0 0 0.2em rgb(255, 0, 217);
  color: #ffffff;
  font-size: 50px;
}

body main .inicio div #logo_dave {
  display: block;
  margin: auto;
  width: 220px;
  height: 420px;
  border-radius: 20%;
}

#hobies h2, #about_me h2, body main h2 {
  border: 20px solid transparent;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 31, 98), 0 0 0.2em blue;
  padding: 1rem 0rem 1rem 0rem;
}

#hobies h3, #about_me h3, #proycts h3, body main .inicio div h3 {
  border: 15px solid transparent;
  font-size: 25px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 0, 98), 0 0 0.2em blue;
  padding: 1rem 0rem 1rem 0rem;
}

#hobies p, #about_me p {
  margin: 2rem;
  font-size: 25px;
  font-family: "Chakra Petch", sans-serif;
  text-align: justify;
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 0, 111), 0 0 0.2em rgb(80, 83, 255);
}

#hobies label {
  border: 15px solid transparent;
  font-size: 15px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 0, 98), 0 0 0.2em blue;
  padding: 1rem 0rem 1rem 0rem;
}

body main .simulation .grid_contener_5 h3, body main .cad .grid_contener_4 h3, body main .micro .grid_contener_3 h3, body main .ide_sw .grid_contener_2 h3, body main .lenguaje_progra .grid_contener h3 {
  border: 15px transparent;
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px 2px #010000;
  color: rgb(255, 255, 255);
  background-color: rgb(184, 27, 82);
}

body main .simulation .grid_contener_5 img, body main .cad .grid_contener_4 img, body main .micro .grid_contener_3 img, body main .ide_sw .grid_contener_2 img, body main .lenguaje_progra .grid_contener img {
  border: 15px solid transparent;
  width: 150px;
  height: 150px;
  align-items: flex-end;
}

.fote section .grid_contener_social h4 {
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px 2px #353535;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.fote section .grid_contener_social img {
  width: 90px;
  height: 90px;
  align-items: flex-end;
  border: 20px solid transparent;
}

.fote section .grid_contener_social .btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

#about_me .container, #proycts .container {
  border: transparent;
  width: 60%;
}

#about_me #diplomado {
  width: 320px;
  height: 250px;
  border-radius: 5%;
}

#about_me .carusel_slim, #about_me .learning_carru, #about_me .contener_carrusel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 800px;
}
#about_me .carusel_slim img, #about_me .learning_carru img, #about_me .contener_carrusel img {
  height: 540px;
  border-radius: 5%;
}

#proycts .contener_carrusel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 500px;
}
#proycts .contener_carrusel img {
  height: 420px;
  border-radius: 5%;
}

#about_me .container_curso {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#about_me .container_curso img {
  height: 480px;
  border-radius: 5%;
}

#about_me .contener_curso_cis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#about_me .contener_curso_cis img {
  height: 520px;
  border-radius: 5%;
}

#hobies .contener_games {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 240px;
}
#hobies .contener_games img {
  width: 320px;
  height: 200px;
  border-radius: 10%;
}

#hobies .movies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#hobies .movies img {
  height: 340px;
  border-radius: 5%;
}

#hobies .carrusel_hambur {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#hobies .carrusel_hambur img {
  height: 400px;
  width: 200px;
  border-radius: 5%;
}

body main {
  z-index: 1;
}
body main .lenguaje_progra .grid_contener {
  margin: 1em 1em 1em 1em;
  border: 10px;
  display: grid;
  gap: 5px;
  grid-template-areas: "item1 item2 item3 item4 item5 item6 item7";
}
body main .lenguaje_progra .grid_contener .item1 {
  grid-area: item1;
}
body main .lenguaje_progra .grid_contener .item2 {
  grid-area: item2;
}
body main .lenguaje_progra .grid_contener .item3 {
  grid-area: item3;
}
body main .lenguaje_progra .grid_contener .item4 {
  grid-area: item4;
}
body main .lenguaje_progra .grid_contener .item5 {
  grid-area: item5;
}
body main .lenguaje_progra .grid_contener .item6 {
  grid-area: item5;
}
body main .lenguaje_progra .grid_contener .item7 {
  grid-area: item5;
}
body main .ide_sw .grid_contener_2 {
  margin: 1em 1em 1em 1em;
  border: 10px;
  display: grid;
  gap: 5px;
  grid-template-areas: "item1 item2 item3 item4 item5 item6";
}
body main .ide_sw .grid_contener_2 .item1 {
  grid-area: item1;
}
body main .ide_sw .grid_contener_2 .item2 {
  grid-area: item2;
}
body main .ide_sw .grid_contener_2 .item3 {
  grid-area: item3;
}
body main .ide_sw .grid_contener_2 .item4 {
  grid-area: item4;
}
body main .ide_sw .grid_contener_2 .item5 {
  grid-area: item5;
}
body main .ide_sw .grid_contener_2 .item6 {
  grid-area: item5;
}
body main .ide_sw .grid_contener_2 #img_w {
  width: 250px;
}
body main .micro .grid_contener_3 {
  margin: 1em 1em 1em 1em;
  border: 10px;
  display: grid;
  gap: 5px;
  grid-template-areas: "item1 item2 item3 item4 item5 item6";
}
body main .micro .grid_contener_3 .item1 {
  grid-area: item1;
}
body main .micro .grid_contener_3 .item2 {
  grid-area: item2;
}
body main .micro .grid_contener_3 .item3 {
  grid-area: item3;
}
body main .micro .grid_contener_3 .item4 {
  grid-area: item4;
}
body main .micro .grid_contener_3 .item5 {
  grid-area: item5;
}
body main .micro .grid_contener_3 .item6 {
  grid-area: item5;
}
body main .micro .grid_contener_3 #img_w {
  width: 250px;
}
body main .cad .grid_contener_4 {
  margin: 1em 1em 1em 1em;
  border: 10px;
  display: grid;
  gap: 5px;
  grid-template-areas: "item1 item2 item3 item4 item5 item6";
}
body main .cad .grid_contener_4 .item1 {
  grid-area: item1;
}
body main .cad .grid_contener_4 .item2 {
  grid-area: item2;
}
body main .cad .grid_contener_4 .item3 {
  grid-area: item3;
}
body main .cad .grid_contener_4 .item4 {
  grid-area: item4;
}
body main .cad .grid_contener_4 .item5 {
  grid-area: item5;
}
body main .cad .grid_contener_4 .item6 {
  grid-area: item5;
}
body main .simulation .grid_contener_5 {
  margin: 1em 1em 1em 1em;
  border: 10px;
  display: grid;
  gap: 5px;
  grid-template-areas: "item1 item2 item3 item4 item5";
}
body main .simulation .grid_contener_5 .item1 {
  grid-area: item1;
}
body main .simulation .grid_contener_5 .item2 {
  grid-area: item2;
}
body main .simulation .grid_contener_5 .item3 {
  grid-area: item3;
}
body main .simulation .grid_contener_5 .item4 {
  grid-area: item4;
}
body main .simulation .grid_contener_5 .item5 {
  grid-area: item5;
}
body main .simulation .grid_contener_5 #img_w {
  width: 250px;
}
#proycts #eco_sass {
  width: 720px;
  height: 720px;
}
#proycts #eco_sass_2 {
  width: 450px;
  height: 450px;
}
#proycts #img_one {
  width: 300px;
  height: 300px;
}
#proycts #img_one:hover {
  transform: scale(2.5);
}

#about_me .bullet p {
  font-size: 25px;
  padding-left: 30px;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 0, 111), 0 0 0.2em rgb(80, 83, 255);
}
#about_me #diplomado:hover {
  transform: scale(2);
}
.fote section div h3 {
  font-family: "Gruppo", cursive;
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.fote section .grid_contener_social {
  margin: 1em 1em 1em 1em;
  border: 20px;
  display: grid;
  gap: 5px;
  grid-template-areas: "item6 item7 item1 item2 item3 item4 item5 item8 item9";
}
.fote section .grid_contener_social .item_6 {
  grid-area: item6;
}
.fote section .grid_contener_social .item_7 {
  grid-area: item7;
}
.fote section .grid_contener_social .item_1 {
  grid-area: item1;
}
.fote section .grid_contener_social .item_2 {
  grid-area: item2;
}
.fote section .grid_contener_social .item_3 {
  grid-area: item3;
}
.fote section .grid_contener_social .item_4 {
  grid-area: item4;
}
.fote section .grid_contener_social .item_5 {
  grid-area: item5;
}
.fote section .grid_contener_social .item_8 {
  grid-area: item8;
}
.fote section .grid_contener_social .item_9 {
  grid-area: item9;
}

/*# sourceMappingURL=base.css.map */
